<h1>Hello From Employee Component</h1>

<div [style.BackgroundColor]="myTableColor">
<h3>Employees List</h3>
<table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>Name </th>
        <th>Address </th>
        <th>Salary </th>
    </tr>
    
<tr *ngFor = "let employee of employees">
<td>  {{employee.name | titlecase}}  </td><td>  {{employee.address}} </td><td>{{employee.salary | currency:"INR"}}</td>
</tr>
</table>
</div>

<h1 appMyLineHilighter> My Custom Directive working </h1>
